---
import Logo from "../../svg/Logo";
import Layout from "../../layouts/Layout.astro";
import { Form } from "../../views/Form";
---

<Layout title="Paket Underwear" arrow>
  <header
    class="text-center py-6 flex flex-col items-center gap-4 lg:gap-2 mb-1 lg:mb-4"
  >
    <div class="mb-2"><Logo width={250} height={250 / 4.4} /></div>
    <div class="text-2xl font-bold">
      Promo CD /
      <br class="sm:block lg:hidden" />
      Pakaian Dalam /
      <br class="sm:block lg:hidden" />
      Underwear
    </div>
    <h2 class="text-3xl font-bold">
      12 PCS &mdash; Diskon <span class="text-rose-600">50%</span>
    </h2>
  </header>

  <main class="mb-4 flex flex-col gap-4">
    <div
      class="m-1 lg:m-0 text-center font-bold text-4xl lg:text-5xl py-5 border-8 lg:border-x-0 lg:border-y border-gray-500 text-gray-900"
    >
      <span class="hidden lg:inline">👉👉</span>
      99.000 DAPAT 12
      <span class="hidden lg:inline">👈👈</span>
    </div>

    <hr />

    <Form client:load productId="UW" productFeature="Promo Underwear Cewek 12 PCS" />
  </main>

  <footer></footer>
</Layout>
