---
import Layout from "../layouts/Layout.astro";
import Logo from "../svg/Logo";
---

<Layout title="Serba Murah Meriah">
  <main class="w-full h-screen flex flex-col items-center justify-center">
    <Logo />
    <h1 class="text-4xl font-medium -mt-4">Serba Murah Meriah</h1>
  </main>
</Layout>
