---
import Layout from "../layouts/Layout.astro";
import Logo from "../svg/Logo";
---

<Layout>
  <main class="w-full h-screen flex flex-col items-center justify-center">
    <div class="w-full lg:w-1/2 lg:h-auto">
      <Logo className="w-full" />
    </div>
    <h1 class="text-3xl lg:text-4xl font-medium -mt-8 lg:-mt-2">
      Toko 100% Murah Meriah
    </h1>
  </main>
</Layout>
